<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PROYECTO CLOUD COMPUTING</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>
<body>

<!-- navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="https://s3-bucketproyecto-iib.s3.amazonaws.com/EPN_logo_big.jpg" alt="EPN Logo" style="height: 40px; margin-right: 10px;">
        PROYECTO CLOUD COMPUTING: R. AMORES D. ROMAN J. ECHE A. VERA J. GALARZA
    </a>
</nav>

<!-- The rest of your HTML content -->

</body>
</html>
